<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Edit Recipe</title>

</head>
<body>
<div class="recipe" th:each="recipe : ${recipe}">
    <form action="#" th:action="@{/editRecipe}" th:object="${recipe}" method="post">
        <label for="recipeTitle">Title</label>
        <input type="text" th:field="*{recipeTitle}" id="recipeTitle" th:text="${recipe.recipeTitle}">
        <!-- th:text="${recipe.recipeTitle}" -->
        <span th:if="${#fields.hasErrors('recipeTitle')}" th:errors="*{title}"></span>
        <label for="recipeText">Recipe</label>
        <!-- I replaced input with textarea
        <input type="text" th:field="*{recipeText}" id="recipeText" placeholder="Text"> -->
        <textarea type ="text" th:field="*{recipeText}" id="recipeText" th:text="${recipe.recipeText}" rows="4" cols="50"></textarea>
        <span th:if="${#fields.hasErrors('recipeText')}" th:errors="*{recipeText}"></span>
        <label for="recipeTag">Tag</label>
        <input type="text" th:field="*{recipeTag}" id="recipeTag" th:text="${recipe.recipeTag}">
        <span th:if="${#fields.hasErrors('recipeTag')}" th:errors="*{recipeTag"></span>
        <input type="submit" value="Add Recipe">
    </form>
</div>
</body>
</html>