<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Edit Recipe</title>

</head>
<div class="img4">
<body class="body">

<h2 class="signup-h2">Edit Your Recipe</h2>
<div>
    <!-- th:action="@{/editRecipe}"  -> th:action skal ekki innihalda /{id} eftir /editRecipe  -->
    <form action="#" th:action="@{/editRecipe}" th:object="${recipes}" method="post" enctype="multipart/form-data">

        <div class="recipe" th:each="recipe : ${recipes}">
            <label for="recipeTitle">Title</label>
            <input type="hidden" th:field="${recipes.ID}" id="recipeID" placeholder="Title">
            <input type="text" th:field="*{recipeTitle}" id="recipeTitle" placeholder="Title">
            <span th:if="${#fields.hasErrors('recipeTitle')}" th:errors="*{title}"></span>

            <label for="recipeText">Recipe</label>
            <!-- I replaced input with textarea
            <input type="text" th:field="*{recipeText}" id="recipeText" placeholder="Text"> -->
            <textarea class = "textarea_newRecipe" type ="text" th:field="*{recipeText}" id="recipeText" placeholder="Recipe" rows="4" cols="50"></textarea>
            <span th:if="${#fields.hasErrors('recipeText')}" th:errors="*{recipeText}"></span>

            <label for="recipeTag">Tag</label>
            <input class = "textarea_newRecipe" type="text" th:field="*{recipeTag}" id="recipeTag" placeholder="Tag">
            <span th:if="${#fields.hasErrors('recipeTag')}" th:errors="*{recipeTag}"></span>

            <label for="fileImage">Image</label>
            <input type="file" id="fileImage" name="image" accept="image/jpg, image/jpeg, image/png"/>
            <!--
            <label for="image">Image</label>
            <input class = "textarea_newRecipe" type="file" th:field="*{image}" id="image">
            <span th:if="${#fields.hasErrors('image')}" th:errors="*{image"></span>
            -->

            <div class = "form-field2">
                <input class = "btn" type="submit" value="Save changes">
            </div>
        </div>
    </form>
    <a href="/userRecipe">Back to recipes</a>
</div>
</div>
</body>
</html>