<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Add a new Recipe</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/newRecipe}" th:object="${recipe}" method="post" enctype="multipart/form-data">

        <label for="recipeTitle">Name your recipe</label>
        <input type="text" th:field="*{recipeTitle}" id="recipeTitle" placeholder="Title">
        <span th:if="${#fields.hasErrors('recipeTitle')}" th:errors="*{title}"></span>

        <label for="recipeText">Recipe</label>
        <!-- I replaced input with textarea
        <input type="text" th:field="*{recipeText}" id="recipeText" placeholder="Text"> -->
        <textarea class = "textarea_newRecipe" type ="text" th:field="*{recipeText}" id="recipeText" placeholder="Description" rows="4" cols="50"></textarea>
        <span th:if="${#fields.hasErrors('recipeText')}" th:errors="*{recipeText}"></span>

        <label for="recipeTag">Tag</label>
        <input class = "textarea_newRecipe" type="text" th:field="*{recipeTag}" id="recipeTag" placeholder="Tag your recipe">
        <span th:if="${#fields.hasErrors('recipeTag')}" th:errors="*{recipeTag"></span>


        <label for="fileImage">Choose image to upload</label>
        <input type="file" id="fileImage" name="image" accept="image/jpg, image/jpeg, image/png"/>
        <!--
        <label for="image">Image</label>
        <input class = "textarea_newRecipe" type="file" th:field="*{image}" id="image">
        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image"></span>
        -->

        <div class = "form-field2">
        <input class = "btn" type="submit" value="Add Recipe">
        </div>
    </form>

    <!--
    <form action="#" th:action="@{/newRecipe}" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>
    -->

</div>

</body>
</html>