<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Recipe</title>

</head>
    <body>

        <div class="recipe" th:each="recipe : ${recipe}"> <!-- th=thymeleaf -> th:each == for each loop
                                                where recipe exists in a repo of recipes -->
            <p th:text="${recipe.recipeTitle}"></p>
            <p th:text="${recipe.recipeText}"></p>
            <p th:text="${recipe.recipeTag}"></p>
        </div>


    </body>
</html>