<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Signup</title>
</head>
<body>

<h2 class="signup-h2">Create account</h2>

<form action="#" th:action="@{/signup}" th:object="${user}"  method="post" >

    <div class="form-field">
    <input type="text" name="username" id="username" th:field="*{username}" placeholder="Username" required/>
    </div>

    <div class="form-field">
    <input type="text" name="password" id="password" th:value="*{password}" placeholder="Password" required/>
    </div>

    <div class="form-field">
    <input class="btn" type="submit" value="Sign up"/>
    </div>

    <section class="row">
        <p class="signup"> Already logged in? <a href="login">Click here</a></p>
    </section>

</form>

</body>
</html>