<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Recipes</title>
</head>


<header class="userRecipe_header">
    <div class="welcome_box1">
        <h2 class ="h2_welcome_name">Welcome,  </h2>
        <p th:text="${LoggedInUser.username}"></p>
        <!-- <p th:text="${LoggedInUser.ID}"></p>  Þetta sýnir userID-->
    </div>

    <div class = "welcome_box2">
        <input type="search" id="query" name="q" placeholder="Search...">
    <button>Search</button>
    </div>

    <div class="welcome_box3">
        <p> <a href="/logout">Logout</a></p>
    </div>

</header>

<div th:switch="${recipes}">  <!--"${books}" -> this check's if there is a thing called 'recipes' in
                                our model.attribute() metohd in our RecipeController inside our
                                homePage method.-->
    <h2 th:case="null">No recipes yet!</h2>
    <div th:case="*">
        <h2 class="h2_userRecipe">Recipes</h2>
        <table >

            <thead>
            <tr>
                <th>Title</th>
                <th>Tag</th>
                <th> </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="recipe : ${recipes}"> <!-- th=thymeleaf -> th:each == for each loop
                                                            where recipe exists in a repo of recipes -->
                <div th:if="${recipe.userID} == ${LoggedInUser.ID}">
                    <td class="td" th:text="${recipe.recipeTitle}"></td>
                    <td class="td" th:text="${recipe.recipeTag}"></td>
                    <td><a th:href="@{/viewRecipe/{id}(id=${recipe.ID})}">View</a></td>
                </div>

            </tr>
            </tbody>
        </table>

    </div>

    <p><a href="/newRecipe">Add a new recipe</a></p>

    </div>

</body>
</html>