<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Recipes</title>

</head>
<body>
<header>
    <div>
        <h2>Velkomin/n: </h2>
        <p th:text="${LoggedInUser.username}"></p>
        <!-- <p th:text="${LoggedInUser.ID}"></p>  Þetta sýnir userID-->
    </div>
</header>

<div th:switch="${recipes}">  <!--"${books}" -> this check's if there is a thing called 'recipes' in
                                our model.attribute() metohd in our RecipeController inside our
                                homePage method.-->
    <h2 th:case="null">No recipes yet!</h2>
    <div th:case="*">
        <h2>Recipes</h2>
        <table style="text-align:center" >
            <thead>
            <tr>
                <th>Title</th>
                <th>Tag</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="recipe : ${recipes}"> <!-- th=thymeleaf -> th:each == for each loop
                                                            where recipe exists in a repo of recipes -->
                <div th:if="${recipe.userID} == ${LoggedInUser.ID}">
                    <td th:text="${recipe.recipeTitle}"></td>
                    <td th:text="${recipe.recipeTag}"></td>

                    <td><a th:href="@{/viewRecipe/{id}(id=${recipe.ID})}">View</a></td>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/newRecipe">Add a new recipe</a></p>
    <p><a href="/logout">logout</a></p>
</div>

</body>
</html>