<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/styles.css} rel="stylesheet">
    <title>Recipe</title>

</head>
<body class="body">
<div class="view">
    <!-- th=thymeleaf -> th:each == for each loop where recipe exists in a repo of recipes -->
    <div class="recipe">

        <div th:if="${recipe.recipeTitle != ''}">
            <label>Title</label>
            <p th:text="${recipe.recipeTitle}"></p>
        </div>

        <div th:if="${recipe.recipeText != ''}">
            <label>Recipe</label>
            <p th:text="${recipe.recipeText}"></p>
        </div>

        <div th:if="${recipe.recipeTag != ''}">
            <label>Tag</label>
            <p th:text="${recipe.recipeTag}"></p>
        </div>

        <div th:if="${recipe.recipeImage != ''}">
            <img class = "viewImage" th:src="@{${recipe.getRecipeImage}}" />
        </div>

        <!-- <p th:text="${recipe.recipeImage}"></p> -->
    </div >
    <div class="view_del_edit_back">
        <p><a  th:href="@{/delete/{id}(id=${recipe.ID})}">Delete</a></p>
        <p><a th:href="@{/editRecipe/{id}(id=${recipe.ID})}">Edit recipe</a></p>
        <p><a href="/userRecipe">Back to recipes</a></p>
    </div>
    </div>


</body>
</html>