@charset "UTF-8";


a {
    text-decoration: none;
}

@charset "UTF-8";


a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    margin: 0;
}

.recipe{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 40px;
}

.recipe p{
    padding: 30px;
    display:table;
    font-size: 30px;
    text-align:center;
    content:"\a";
    white-space: pre;
}
<<<<<<< HEAD

=======
>>>>>>> 73b5231a2fac31acce2cd0f890398effad4d1641
